$big-font: 15rem;

.jumbo {
    color: #333;
    font-size: $big-font;
    margin: 0;
    text-shadow: 1px 2px 1px #DEDEDE, 2px 3px 0 #FEFEFE, -1px -1px 0 #222;
}

html {
    body {
        margin: 0;
        padding: 0;
        background: #CACACA;
    }
}

#display {
    float: none;
    background: green;
    text-align: center;
    margin: 0 auto;
}

#welcomeDisplay {
    float: none;
    background: red;

}

#start {
    color: green;
    margin-left: 7rem;
}

.page-frame {
    padding: 0 2rem;
    max-width: 80rem;
}
.page-content {
    margin-left: 20rem;
}

nav {
  // display: flex;
  float: left;
  width: 20rem;
  padding-right: 4rem;
  font-size: 1.1rem;
  }
