$big-font: 15rem;

.jumbo {
    color: #333;
    font-size: $big-font;
    margin: 0;
    text-shadow: 1px 2px 1px #DEDEDE, 2px 3px 0 #FEFEFE, -1px -1px 0 #222;
}

html {
    body {
        margin: 0;
        padding: 0;
        background: #CACACA;
    }
}

ul {
    list-style: none;

}

h1 {
    text-align: center;
}

#start {
    display: flex;
    justify-content: center;
    //margin-left: 7rem;
}

.page-frame {

    margin-left: 20rem;
    margin-right: 20rem;

    max-width: 80rem;
}


nav {
  // display: flex;
  float: left;
  width: 20rem;
  padding-right: 4rem;
  font-size: 1.1rem;
  }

table {
    //display: flex;
    //justify-content: center;
    margin: 2% auto;

    td {
        margin-left: 10%;
        border: 1px solid grey;
    }
}

.highlight {
    background-color: yellow;
}
